.blog-container {
  width: 70%;
  max-width: 1200px;
  margin: auto;
  padding: 50px 0;
}

.blog-title {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: left;
  color: #A2672D;
  padding-top: 100px;
}

.blog-card {
  display: flex;
  gap: 25px;
  background: #fff8f2;
  border: 1px solid #eadacb;
  border-radius: 15px;
  margin-bottom: 50px;
  padding: 20px;
  transition: 0.3s ease;
}

.blog-card:hover {
  transform: translateY(-5px);
}

.blog-img {
  width: 45%;
  border-radius: 10px;
  object-fit: cover;
}

.blog-content {
  width: 55%;
}

.author-info {
  font-size: 14px;
  color: #7d6b5a;
  display: flex;
  gap: 5px;
  align-items: center;
}

.blog-heading {
  font-size: 24px;
  line-height: 1.4;
  margin: 12px 0;
  font-weight: 700;
  color: #2e1f15;
}

.blog-desc {
  font-size: 16px;
  color: #6a5849;
  line-height: 1.6;
}

.blog-footer {
  display: flex;
  gap: 25px;
  font-size: 14px;
  margin-top: 20px;
  color: #7b6657;
}

.favorite {
  cursor: pointer;
  font-size: 18px;
}

@media (max-width: 768px) {
  .blog-card {
    flex-direction: column;
  }
  .blog-img, .blog-content {
    width: 100%;
  }
}

.blog-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  display: block;
}
.blog-card:hover {
  transform: translateY(-5px);
}

