body{
    background:#fbefe4;
    font-family: "Poppins", sans-serif;
}
.blogs-container{
    width:70%;
    max-width:1150px;
    margin:auto;
    padding:40px 0;
}
.blogs-container h2{
    font-size:32px;
    font-weight:700;
    color:#4b2b1a;
    margin-bottom:25px;
    padding-top: 100px;
}

/* Card box */
.blog-box{
    background:#fff;
    border:1px solid #ead7c0;
    padding:40px;
    display:flex;
    margin-bottom:25px;
    border-radius:8px;
    gap:18px;
    cursor:pointer;
    transition:.4s ease;
}
.blog-box:hover{
    transform:translateY(-4px);
    box-shadow:0 8px 22px rgba(0,0,0,0.1);
}

/* Image */
.blog-img img{
    width:330px;
    height:220px;
    object-fit:cover;
    border-radius:8px;
    transition:.4s;
}
.blog-box:hover img{
    transform:scale(1.03);
}

/* Content */
.blog-info{
    flex:1;
    color:#4d3b31;
}

/* Top Row */
.blog-top{
    display:flex;
    align-items:center;
    gap:10px;
}
.author-img{
    width:40px;
    height:40px;
    border-radius:50%;
}
.author{
    margin:0;
    font-size:14px;
    font-weight:600;
}
.meta{
    font-size:12px;
    color:#7d6e5f;
}
.dots{
    margin-left:auto;
    cursor:pointer;
}

/* Heading */
.blog-title{
    font-size:20px;
    font-weight:600;
    color:#000;
    margin:10px 0;
}

/* Description */
.blog-desc{
    font-size:14px;
    color:#6d5a4d;
    margin-bottom:20px;
}

/* Bottom Stats */
.blog-bottom{
    display:flex;
    gap:20px;
    font-size:13px;
    color:#8a6f58;
}
.heart{
    margin-left:auto;
    cursor:pointer;
    transition:.3s;
}
.heart:hover{ transform:scale(1.3); }

/* Responsive */
@media(max-width:992px){
    .blog-box{flex-direction:column;}
    .blog-img img{
        width:100%;
        height:240px;
    }
}
@media(max-width:600px){
    .blog-title{font-size:18px;}
    .blog-img img{height:200px;}
}


.share-popup{
    position:fixed;
    background:#fff;
    border:1px solid #d8c2a8;
    padding:10px 15px;
    border-radius:8px;
    box-shadow:0 4px 15px rgba(0,0,0,.15);
    display:none;
    z-index:9999;
}
.share-popup.active{
    display:block;
    animation:fade .25s ease;
}

.share-popup p{
    font-size:14px;
    margin:0 0 6px 0;
    color:#4b2b1a;
}
.share-popup button{
    background:#8b5e3c;
    color:#fff;
    border:none;
    padding:6px 12px;
    border-radius:6px;
    cursor:pointer;
    font-size:13px;
}
.share-popup button:hover{
    background:#6c4529;
}

@keyframes fade{
    from{opacity:0; transform:translateY(-5px);}
    to{opacity:1; transform:translateY(0);}
}
